@import "tailwindcss";


body,html,#root{
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex:1
}